# Ignore virtual environment
back/venv/

# Ignore any compiled Python files
*.pyc

# Ignore environment-specific files
.env

# Ignore any log files
*.log

# Ignore system-specific files
.DS_Store
back/map_tiles/utm/test_1.tif
